header {
    width: 100%;
    height: 90vh;

    background: {
        image:  url(../images/b57eabfbd2073.jpg);
        blend-mode:multiply;
        size:cover;
    }
    position: relative;
    .logo-text{
        position: absolute;
        left: 7rem;
        top: 4rem;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: -0.1rem;
        font:{
            size: 5.6rem;
            family:'Lato', sans-serif;
            weight:100;
        }
        animation:{
            name:moveInLeft;
            duration:1s;
            iteration-count:5;
            delay:2s;//지연시간
            fill-mode: backwards;
        }
    }
    .header-text{
        position: absolute;
        left: 7rem;
        bottom: 23%;
        color: $color-white;
        letter-spacing: -0.1rem;
        font-weight: 700;

        &-main{            
            font:{
                size: 7.2rem;                
            }
            line-height: 7.2rem;
            animation:{
                name:moveInRight;
                duration:1s;
                delay:1s;
                fill-mode: backwards;
            }
        }
        &-sub{            
            font:{
                size: 2.4rem;                
            }
            margin-top: 3rem;
            animation:{
                name:moveInLeft;
                duration:1s;
                delay:1.5s;
                fill-mode: backwards;
            }
        }
    
    }
}

//header